<div class="container pt-5" style="height: 100vh;">
  <h1>RXJS Playground</h1>
  <button (click)="setBehaveSubjectValue()" class="btn btn-primary">Update behaviour subject</button>
  <h1 style="font-size: 60px; color: blue;">{{counter}}</h1>

  <input type="text" [formControl]='searchControl' name='search'>
  <hr>
  <div class="form-group row">
    <div class="col-2 col-lg-1">
      <button #btn class="btn btn-outline-primary">Search</button>
    </div>
    <div class="col-6">
      <input class="form-control" [(ngModel)]="query" *ngIf="isSearchInputVisible$ | async"/>
    </div>
  </div>
  <hr>
  <ng-container *ngIf="newsArr">
    <div *ngFor="let news of newsArr">
      <span>Written by </span><span class="font-weight-bold">{{news.by}}</span><br>
      <a [href]="news.url" target="_blank" rel="noopener">
        {{news.title}}
      </a>
      <hr>
    </div>
  </ng-container>
</div>